{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <form method="post">
            {{ form.errors }}
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">{{ form.title.label }}</label>
                <input id="id_title" maxlength="256" name="title" type="text" required="" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">{{ form.description.label }}</label>
                <textarea cols="40" id="id_description" name="description" rows="10" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="id_due_date">{{ form.due_date.label }}</label>
                <input id="id_due_date" name="due_date" type="date" required="" class="form-control">
            </div>
            <div class="form-group">
                <label for="id_assigned_to">{{ form.assigned_to.label }}</label>
                {{ form.assigned_to }}
            </div>
            <button type="submit">Save</button>
        </form>
    </div>
{% endblock %}